# Log files
npm-debug.log*

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# MacOS files
.DS_Store

# Environment configurations (Do not remove for security purposes)
.env
.env.*

# BUT do not ignore the following env files
!.env.example
!.env.production.gpg
